# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=pids_poc

# RTSP
RTSP_BASE_URL=rtsp://localhost:8554

# Inference
FPS_THROTTLE=5
CONFIDENCE_THRESHOLD=0.4
TORCH_NUM_THREADS=4
YOLO_MODEL=yolov8n.pt
FRAME_DOWNSCALE_WIDTH=640

# Event logic
COOLDOWN_SECONDS=30
TEMPORAL_CONFIRM_FRAMES=3
